body {
	color: #666;
	font-family: 'Roboto',"Helvetica Neue",Helvetica,sans-serif;
}

h1 {
	font-family: 'Lora','Roboto',"Helvetica Neue",Helvetica,sans-serif;
	font-size: 2.5em;
	color:#333;

	@media (min-width: 768px) {
		font-size: 4em;
	}
}

h3 {
	font-family: 'Lora','Roboto',"Helvetica Neue",Helvetica,sans-serif;
}

#graphic {
	padding:0px;
}

.form-group {
	margin-top: 25px;
}

.subhed {
	font-size: 16px;
	color:#333;
}

.byline {
	font-style: italic;
	font-size: 14px;
}

.source {
	margin: 20px 0px;
	font-style: italic;
	font-size: 12px;
}

.baseball {
	height: 2em;
	width: 2em;
}

#content {
	margin-top: 0px;
}

p {
	font-family:'Source Sans Pro',sans-serif;
}

.form-control {
	width: auto;
	display: inline;
}

.team_text p {
	font-size: 24px;

	@media (min-width: 768px) {
		font-size: 24px;
	}

	.team-name {
		font-weight: 700;
	}

}

@media (min-width: 768px) {
	.subhed {
		font-size: 24px;
		color:#333;
	}

}